body {
	font: 16px Helvetica, Sans-Serif;
}

#picture {
	float: right;
  height: 150px;
}

#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 10px 100px 10px 100px;
	border-radius: 8px;
	background-color:lightgray;
}

#contact {
	font-size: 42px;
	font-weight: bold;
	border-bottom: 1px solid black;
}

#summarycontent {

	font-style: italic;
	font-size: 20px;
}

#summarycontent2 {
	font-size: 16px;
}

#header {
	font-size: 28px;
}


.date {
	float: right;
}

h3 {
	border-bottom: 1px solid black;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
